{
  "Discord": {
    "Token": "YOUR_DISCORD_BOT_TOKEN",
    "GuildId": 1234567890123456789,
    "PublicChannelId": 1234567890123456789,
    "AdminChannelId": 1234567890123456789
  },
  "ProjectZomboid": {
    "ServerName": "ZomboidServer",
    "Admin": {
      "Username": "admin",
      "Password": "1234567890123456789"
    },
    "Password": "YOUR_SERVER_JOIN_PASSWORD"
  }
}